.git
.DS_Store
**/node_modules/
**/.venv/
**/deps/
**/_build/
**/dist/
**/.cache/
**/__pycache__/
**/*.pyc
**/*.sqlite
**/*.sqlite-wal
**/*.sqlite-shm
**/data/
**/http-go-test
**/http-ramp-go-contract
**/performance-http-ramp-rust
**/erl_crash.dump
.tools
.ruff_cache
results/
docs/
.local.mk
.git/
**/target/
ephemeral/
